Binaries
DerivedDataCache
Intermediate
Saved
Saves
Plugins
Build
Makefile
log
.json
.vscode
.vs
.modio
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.kdev4
*.pro
*.pri
*.code-workspace
*.workspace
Content/Maps/BaseLevel_BuiltData.uasset